.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    box-shadow: 0px 1px 3px -2px black;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #171717;
    font-size: 35px;
    font-weight: 600;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 25px;
  font-weight: 500;

}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button {
    width: 157px;
    height: 56px;
    outline: none;
    border: 2px solid #7a7a7a;
    border-radius: 0px; 
    color: #515151;
    font-size: 20px;
    font-weight: 400;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 50%;
    font-size: 14px;
    background: red;
    color: white;
}
.nav_dropdown{
    display: none;
}
@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img {
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
/* @media(max_width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .nav_dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .nav-menu{
        display: flex;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }
} */
@media (max-width: 800px) {
    .navbar {
        padding: 10px 0px;
    }
    .nav_dropdown {
        display: block;
        width: 30px;
        transition: 0.5s;
        transform-origin: center;
    }
    /* .nav_dropdown:hover {
        transform: rotate(-90deg);
    } */
    .nav-menu {
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        background-color: white;
        justify-content: center;
        /* overflow: hidden;
        visibility: hidden; */
        transition: 0.5s;
    }
    /* .navbar:hover .nav-menu {
        display: flex;
        visibility: visible;
    } */
    .nav-menu-visible{
        display: flex;
    }
    .nav_dropdown.open{
        transform: rotate(-90deg);
    }
}
@media (max-width: 500px) {
    .navbar {
        width: 8px 0px;
        gap: 0px;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}

/* .nav-cart-count {
    font-size: 14px;
    background: red;
    color: white;
    padding: 0 5px;
    vertical-align: top;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 50%;
  }
   */